<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thmyelead.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/admin/base-layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- Featured Section Begin -->
<div class="page-breadcrumb" layout:fragment="content">
    <div class="row">
        <div class="d-flex mb-5 col-6 mt-4 justify-content-lg-start">
            <img class="col-2"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/2491px-Logo_of_Twitter.svg.png"
                 width="10%">
            <div class=" d-flex no-block  flex-column ">
                <h4 class="page-title mb-2">MERCHANT PAYMENT</h4>
                <h5 class="page-title">Store HANOI BACH KHOA</h5>
            </div>
        </div>
        <div class="d-flex mb-5  col-3 mt-4 justify-content-lg-start">
            <div class="col-12 d-flex no-block  flex-column ">
                <h5 class="text-black-50 mb-2">TOTAL PAYMENT OF THE DAY</h5>
                <h5 class="text-center text-uppercase " style="font-size: 28px" th:text="${totalSales}+'$'"></h5>
            </div>
        </div>
        <div class="d-flex mb-5 col-3 mt-4 justify-content-lg-start">
            <div class="col-12 d-flex no-block  flex-column ">
                <h5 class="text-black-50 mb-2">TOTAL ORDER OF THE DAY</h5>
                <h5 class="text-center text-uppercase " style="font-size: 28px" th:text="${orderAmout}"></h5>
            </div>
        </div>
        <div class="d-flex mb-5 pl-4 col-6 mt-1 justify-content-lg-start">
            <label for="birthdate">Date: </label>
            <dìv th:text=" ${dateFilter}"></dìv>
        </div>
        <div class="d-flex mb-5 col-6 mt-1 justify-content-lg-start">
            <form method="get" th:action="@{/admin/invoices}" class="d-flex">
                <div class="form-group ">
                    <div class="input-group date mb-3">
                        <input type="date" class="form-control" id="birthdate" name="dateData"/>
                    </div>
                </div>
                <button class="btn btn-primary col-6" style="height: 38px" type="submit">Submit</button>
            </form>
        </div>

    </div>
    <div class="container-fluid">
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="">
                        <div>
                            <table id="zero_config" class="table table-striped ">
                                <thead>
                                <tr class="text-center">
                                    <th class="col-1" scope="col"> No</th>
                                    <th class="col-2" scope="col">Time</th>
                                    <th class="col-2" scope="col">Customer</th>
                                    <th class="col-2" scope="col"> Price</th>
                                    <th class="col-4" scope="col">Note</th>
                                    <th class="col-1" scope="col"> Detail</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center" th:each="payment,rowStat : ${payments}">
                                    <td th:text="${rowStat.index + 1}"></td>
                                    <td th:text="${#temporals.format(payment.invoice.createdAt,'yyyy/MM/dd HH:mm:ss')}"></td>
                                    <td th:text="${payment.customerName}"></td>
                                    <td th:text="${payment.invoice.totalPrice}"></td>
                                    <td th:text="${payment.invoice.note}"></td>
                                    <th>
                                        <button class="btn btn-success">Detail</button>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
    </div>
</div>
<script th:src="@{/assets/js/bootstrap-datepicker.min.js}"></script>
<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
<!-- Featured Section End -->
</body>
</html>